.bg-root{
  background: url("parchment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header-image{
  height: 40vh;
  opacity: .5;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 2vh;
  background: url("cs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info{
}
